.sticky-navbar{
    display: flex;
    height: 150px;
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar{
    width: 65%;
    margin: 0 auto;
}

.space{
    width: 35%;
    justify-content: space-between;
}

.space a{
    padding: 10px;
    border-radius: 10%;
    color: gray;
    text-decoration: none;
}

.space a:hover, a.active{
    color: black;
    background-color: #ecedf4;
}